
* form{
    margin-left: 21%;
    margin-top: 5%;
    padding: 50px;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    width: 850px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #EEEEEE;*/
    background-position: center center;

}

h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #2E2E2E;
    margin-bottom: 25px;
}

label {
    font-size: 17px;
    color: #595959; /*#575757;*/
    margin-bottom: 10px;
}

label::before {
    content: '•'; /* Este es un carácter de punto (bullet) */
    color: red; /* Define el color del punto */
    font-size: 20px; /* Ajusta el tamaño del punto según sea necesario */
    vertical-align: middle; /* Alinea verticalmente el punto con el texto */
    margin-right: 5px; /* Espacio entre el punto y el texto */
    display: inline-block; /* Asegura que el punto se muestre en línea con el texto */
}

input{
    padding: 11px 11px;
    border: 1px solid #b6b6b6; /*#00ADEF;*/
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #ebebeb;
    outline: none;
    color: #535353; /*#00ADEF;*/
    font-size: 17px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}

select{
    padding: 11px 11px;
    border: 1px solid #b6b6b6; /*#00ADEF;*/
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FAFAFC;
    outline: none;
    color: #535353; /*#00ADEF;*/
    font-size: 17px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}

textarea {
    padding: 11px 11px;
    border: 1px solid #b6b6b6; /*#00ADEF;*/
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FAFAFC;
    outline: none;
    color: #232323; /*#00ADEF;*/
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}




.btn-1{
    background: linear-gradient(#30448C, #4966CD);
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    width: 100px;
    margin-left: 45%;
    border: 1px solid #00ADEF;
    margin-top: 5%;
    transition: background-position 0.3s;
    
}

.btn-1:hover{
    background-position: 0 100%;
}





.form-check-label {
    color: #535353;
}




/*PIE DE PAGINA*/


.pie {
    position: absolute;
    top: 1240px;
    left: 120px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:991px) {



    form{
        margin-left: 10%;
        margin-top: 5%;
        padding: 50px;
        padding-bottom: 0%;
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        background-color: #EEEEEE;*/
        background-position: center center;
    
    }

    .pie {
        position: absolute;
        top: 1085px;
        left: -155px;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-1{
        background-color: #00ADEF;
        font-size: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        width: 100px;
        margin-left: 35%;
        
        
    }


}




    

