footer {
  margin-top: 18vh;
  margin-bottom: 2vh;  
  margin-left: 8vw;
  width: 15%;
  justify-content: space-between;
}

footer nav {
  display: flex;
  justify-content: space-between;
}

footer nav a i {
  color: white;
  text-decoration: none;
  font-size: 3vw;
}

/* Dispositivos muy pequeños (teléfonos de 600px de ancho o menos) */
@media only screen and (max-width: 600px) {
  /* ... */
  footer {
    width: 25%;
  }

  footer nav {
    /* ... */
  }

  footer nav a i {   
    font-size: 5vw;
  }
}