* {
  /* Para que no haya margenes ni padding por defecto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  overflow-x: hidden;
  /* Previene el desplazamiento horizontal */
}

/* Estilos para las secciones */
.izq, .der {
  position: fixed; /* Fija las secciones en la pantalla */
  top: 0;
  bottom: 0;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

.izq {
  left: 0;
  width: 50%; /* Ancho de la primera sección */
  background-color: #FFC46B; /* Color del primer rectángulo */
}

.der {
  right: 0;
  width: 50%; /* Ancho de la segunda sección */
  background-color: #202020; /* Color del segundo rectángulo */
}

/* Ajustes para el contenido */
.contenido {
  position: relative; /* Permite que el contenido esté sobre las secciones */
  z-index: 1; /* Asegura que el contenido quede por encima */
  flex: 1;  
  color: white; /* Ajusta el color del texto para mejor contraste */
}

/* El código de arriba crea el fondo de las dos secciones de diferente color */

/* Media Queries */

/* Dispositivos muy pequeños (teléfonos de 600px hacia atras) */
@media only screen and (max-width: 600px) {
  .contenido main { /* La sección que incluye la imagen y presentación */    
    display: flex;
    flex-direction: column-reverse; /* Primero el texto y luego la imagen */    
  }

  .contenido article { /* La presentación */    
    padding: 4vw;
  }

  .contenido article h1 { /* El título de la presentación */    
    width: 100%;
    text-align: center;
    color: green
  }

  .contenido article p { /* El texto de la presentación */    
    width: 100%;
    text-align: justify;
    margin-top: 5%;
  }

  .contenido #presentacion picture{ /* El contenedor de la imagen de la presentación */
    border: 2px solid #202020;
    border-radius: 5px;
    padding: 1vw;   
    width: 90vw;
    margin: 4vh auto 0;
  }

  .contenido picture img{ /* La imagen de la presentación (el mazo) */
    width: 100%;
  }
}

/* Dispositivos pequeños (tabletas en modo retrato y teléfonos de 601px en adelante) */
@media only screen and (min-width: 601px) {
  .contenido main { /* La sección que incluye la imagen y presentación */    
    display: flex;
    flex-direction: column-reverse; /* Primero el texto y luego la imagen */    
  }

  .contenido article { /* La presentación */    
    padding: 4vw;
  }

  .contenido article h1 { /* El título de la presentación */    
    width: 100%;
    text-align: center;
    color: green
  }

  .contenido article p { /* El texto de la presentación */    
    width: 100%;
    text-align: justify;
    margin-top: 5%;
  }

  .contenido #presentacion picture{ /* El contenedor de la imagen de la presentación */
    border: 2px solid #202020;
    border-radius: 5px;
    padding: 1vw;  
    width: 70vw;
    margin: 0 auto;
  }

  .contenido picture img{ /* La imagen de la presentación (el mazo) */
    width: 100%;
  }
}

/* Dispositivos medianos (tabletas en modo landscape con ancho de 768px en adelante */
@media only screen and (min-width: 768px) {
  .contenido { /* El contenedor de todos los elementos */    
    display: flex;
    flex-direction: column;    
  }

  .contenido #presentacion { /* Contiene la imagen y la presentación */    
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    flex: 1; /* Toma el espacio disponible */
  }

  .contenido #presentacion picture {
    border: 2px solid #202020;
    display: flex;    
    border-radius: 5px;
    padding: 0.5vw;
    width: 100%; /* Ajusta el ancho del contenedor de la imagen */
    width: 40vw;
    /*max-width: 40vw; /* Limita el ancho máximo de la imagen */
  }

  .contenido picture img {    
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .contenido article {    
    margin-top: -2vw; /* Para alinear el texto con la imagen al limite superior */
    padding: 2vw;
    flex: 1; /* Toma el espacio disponible */
    margin-left: 2vw; /* Espacio entre la imagen y el artículo */
    max-width: 50vw; /* Limita el ancho máximo del artículo */
  }

  .contenido article h1 {    
    font-size: 2.5vw;
    font-weight: lighter;
    text-align: center;
    color: #FFC46B; /* Color del primer rectángulo */
  }

  .contenido article p {    
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 1rem;
  }
}

/* Dispositivos grandes (Laptops y de escritorio, 992px en adelante) */
@media only screen and (min-width: 992px) {
  .contenido { /* El contenedor de todos los elementos */    
    display: flex;
    flex-direction: column;    
  }

  .contenido #presentacion { /* Contiene la imagen y la presentación */    
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    flex: 1; /* Toma el espacio disponible */
  }

  .contenido #presentacion picture {
    border: 2px solid #202020;
    display: flex;    
    border-radius: 5px;
    padding: 0.5vw;
    width: 100%; /* Ajusta el ancho del contenedor de la imagen */
    width: 40vw;
    /*max-width: 40vw; /* Limita el ancho máximo de la imagen */
  }

  .contenido picture img {    
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .contenido article {    
    margin-top: -2vw; /* Para alinear el texto con la imagen al limite superior */
    padding: 2vw;
    flex: 1; /* Toma el espacio disponible */
    margin-left: 2vw; /* Espacio entre la imagen y el artículo */
    max-width: 50vw; /* Limita el ancho máximo del artículo */
  }

  .contenido article h1 {    
    font-size: 2.5vw;
    font-weight: lighter;
    text-align: center;
    color: #FFC46B; /* Color del primer rectángulo */
  }

  .contenido article p {    
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 1rem;
  }
}

/* Dispositivos muy grandes (Laptops grandes y de escritorio, 1200px de ancho en adelante) */
@media only screen and (min-width: 1200px) {  
  .contenido { /* El contenedor de todos los elementos */    
    display: flex;
    flex-direction: column;    
  }

  .contenido #presentacion { /* Contiene la imagen y la presentación */    
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    flex: 1; /* Toma el espacio disponible */
  }

  .contenido #presentacion picture {
    border: 2px solid #202020;
    margin-top: 5vh;
    margin-left: 12vw;
    display: flex;    
    border-radius: 5px;
    padding: 0.2vw;  
    width: 40vw;    
  }

  .contenido picture img {    
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .contenido article {    
    margin-top: -2vw; /* Para alinear el texto con la imagen al limite superior */
    padding: 2vw;
    flex: 1; /* Toma el espacio disponible */
    margin-left: 2vw; /* Espacio entre la imagen y el artículo */
    max-width: 50vw; /* Limita el ancho máximo del artículo */
  }

  .contenido article h1 {        
    font-size: 2vw;
    font-weight: lighter;
    text-align: center;
    color: #FFC46B; /* Color del primer rectángulo */
  }

  .contenido article p {    
    font-size: 1.3vw;
    text-align: justify;
    margin-top: 1rem;
  }
}