* {
  /* Para que no haya margenes ni padding por defecto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  overflow-x: hidden;
  /* Previene el desplazamiento horizontal */
}

/* Estilos para las secciones */
.izq, .der {
  position: fixed; /* Fija las secciones en la pantalla */
  top: 0;
  bottom: 0;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

.izq {
  left: 0;
  width: 50%; /* Ancho de la primera sección */
  background-color: #FFC46B; /* Color del primer rectángulo */
}

.der {
  right: 0;
  width: 50%; /* Ancho de la segunda sección */
  background-color: #202020; /* Color del segundo rectángulo */
}

/* Ajustes para el contenido */
.contenido {
  position: relative; /* Permite que el contenido esté sobre las secciones */
  z-index: 1; /* Asegura que el contenido quede por encima */
  flex: 1;  
  color: white; /* Ajusta el color del texto para mejor contraste */
}

/* El código de arriba crea el fondo de las dos secciones de diferente */

/* Media Queries */

/* Dispositivos muy pequeños (teléfonos de 600px de ancho o menos) */
@media only screen and (max-width: 600px) {
  .contenido { /* El contenido de toda la página */
    border: 1px solid transparent; /* Esto realmente no se ve */
  }

  .contenido section { /* La secciíon que incluye la imagen y presentación */    
    display: flex;
    flex-direction: column-reverse; /* Primero el texto y luego la imagen */    
  }

  .contenido article { /* La presentación */    
    padding: 4vw;
  }

  .contenido article h1 { /* El título de la presentación */    
    width: 100%;
    text-align: center;
    color: green
  }

  .contenido article p { /* El texto de la presentación */    
    width: 100%;
    text-align: justify;
    margin-top: 5%;
  }

  .contenido #presentacion picture{    
    width: 90vw;
    margin: 0 auto;
  }

  .contenido picture img{ 
    width: 100%;
  }
}