* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  /* Áreas de Trabajo */
  text-align: center;
  margin-top: 20px;
  /* No es necesario escalarlo */
  color: #FFCB7E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

p {
  /* Bienvenido a Abogado... */
  margin-top: 20px;
  padding: 0 8vw;
  text-align: justify;
}

div.galeria {
  /* Donde están todas las imagenes */
  margin: 10vh 8vw 5vh;  
  display: flex;
  flex-wrap: wrap; /* Para que se acomoden en varias líneas si es necesario */
  justify-content: space-between;  
}

div.imagen {
  /* El conjunto de imagen y descripción */
  width: 22vw;
  /* Son aproximadamente 276px */
  height: auto;
  background-color: #171717;
}

div.imagen img {
  /* La imagen literalmente */
  width: 100%;
  height: auto;
}

div.imagen:hover {
  border: 1px solid gold
}

div.desc {
  /* La descripción de la imagen */
  padding: 1.2vw;
  /* Son aproximadamente 15px */
  text-align: center;
}

/*********** Asesoría a elegir **********/
.asesorias {
  /* Cada uno de los artículos pertenecientes a la sección de asesorías */
  display: none;
  /* Para que no se muestren al principio */
  margin: 0% 10%;
  padding: 0.5%;
}

.asesorias h1 {
  /* Encabezado de cada asesoría-artículo */
  font-weight: lighter;
}

.asesorias p {
  /* Parráfo de cada una de las asesorías-artículo */
  border: 2px solid white;
  /* No es necesario escalarlo */
  padding: 2%;
}

/* Media Queries */

/* Dispositivos muy pequeños (teléfonos de 600px de ancho o menos) */
@media only screen and (max-width: 600px) {

  /* ... */
  h1 {
    font-size: 6vw;
    color: #FFCB7E;
  }

  p {
    /* Bienvenido a Abogado... */
    padding: 0 10vw;
    /* Para leer mejor en dispositivos pequeños */
  }

  div.galeria {
    /* Donde están todas las imagenes */
    margin-top: 5vh;
  }

  #i_fa {
    /* Asesoría familiar */
    width: 45%;
    margin-right: 10%;
  }

  #i_ag {
    /* Asesoría agraria */
    width: 45%;
  }

  #i_pe {
    /* Aseroría penal */
    margin-left: 27.5%;
    margin-top: 5%;
    width: 45%;
  }

  /*********** Asesoría a elegir **********/
  .asesorias {
    /* Cada uno de los artículos pertenecientes a la sección de asesorías */
    display: none; /* Para que no se muestren al principio */    
    margin: 4% 5%;
    padding: 0.5%;
  }
}

/* Estilos para dispositivos SOLAMENTE modo retrato con un ancho de 600px o más */
@media (orientation: portrait) and (min-width: 600px) {
  h1 {
    font-size: 4vw;
    color: #FFCB7E;
  }

  p {
    /* Bienvenido a Abogado... */
    padding: 0 10vw;
    /* Para leer mejor en dispositivos pequeños */
  }

  div.galeria {
    /* Donde están todas las imagenes */
    margin-top: 5vh;
  }

  #i_fa {
    /* Asesoría familiar */
    width: 45%;
    margin-right: 10%;
  }

  #i_ag {
    /* Asesoría agraria */
    width: 45%;
  }

  #i_pe {
    /* Aseroría penal */
    margin-left: 27.5%;
    margin-top: 5%;
    width: 45%;
  }

  /*********** Asesoría a elegir **********/
  .asesorias {
    /* Cada uno de los artículos pertenecientes a la sección de asesorías */
    display: none; /* Para que no se muestren al principio */    
    margin: 4% 5%;
    padding: 0.5%;
  }
}