
form{
    margin-left: 25%;
    margin-top: 5%;
    padding: 50px;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    width: 750px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #EEEEEE;*/
    background-position: center center;

}

.content {
    min-height: 80px;
    margin-top: 10%;
    background: linear-gradient(
        90deg,
        rgba(0, 38, 255, 0.545)0%,
        rgba(0, 38, 255, 0.545)70%
        /*rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%*/
    );
}



.menu .navbar ul li a {
    margin-left: 0px;

}



h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #2E2E2E;
    margin-bottom: 25px;
}

label {
    font-size: 17px;
    color: #000000; /*#575757;*/
    margin-bottom: 10px;
}

input{
    padding: 11px 11px;
    border: 1px solid #b6b6b6; /*#00ADEF;*/
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FAFAFC;
    outline: none;
    color: #535353; /*#00ADEF;*/
    font-size: 17px;
}

textarea {
    padding: 11px 11px;
    border: 1px solid #b6b6b6; /*#00ADEF;*/
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #FAFAFC;
    outline: none;
    color: #232323; /*#00ADEF;*/
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}




.btn-1{
    background-color: #00ADEF;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    width: 163px;
    margin-left: 40%;
    border: 1px solid #00ADEF;
    margin-top: 5%;
    
}

.btn-1:hover{
    background-color: #04B8FF;
}





.form-check-label {
    color: #535353;
}




/*PIE DE PAGINA*/


.content-6 {
    min-height: 65px ;
    margin-top: 5%;
    background: linear-gradient(
        90deg,
        rgba(149, 149, 150, 0.271)0%,
        rgba(149, 149, 150, 0.271)70%
        /*rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%*/
    );
}

@media(max-width:991px) {



    form{
        margin-left: 10%;
        margin-top: 5%;
        padding: 50px;
        padding-bottom: 0%;
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        background-color: #EEEEEE;*/
        background-position: center center;
    
    }

    .pie {
        position: absolute;
        top: 1085px;
        left: -155px;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-1{
        background-color: #00ADEF;
        font-size: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        width: 100px;
        margin-left: 35%;
        
        
    }


}




    

