* {
    padding-top: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 140px auto;
}

.content {
    min-height: 65px;
    background: linear-gradient(
        90deg,
        rgba(48, 48, 48, 0.943)0%,
        rgb(48, 48, 48)0%
        /*rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%*/
        /*rgb(109, 102, 13)0%,
        rgb(23, 23, 23)70%*/
    );
}

.menu {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px; /* Ajusta el margen superior según sea necesario */
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.letras {
    color: #6f6f6f;
    font-size: 48px;
    text-align: center;
    margin-right: -940px; /* Espacio entre el texto y el logo */
    font-family: 'Pinyon Script', cursive; /* Cambia la tipografía a Pinyon Script */
    max-width: 5000px; /* Establece un ancho máximo para el texto */
}


img {
    max-width: 120px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
    padding-right: 0%;
    margin-left: 940px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    margin-left: 30px;
    color: #f1f1f1;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    cursor: pointer;
}
.menu label {
    cursor: pointer;
    display: none;
}


.content-2 {
    max-width: 1250px;
    margin: 100px auto;
    margin-top: -2%;
    margin-left: 20%;
}

.content-3 {
    max-width: 1250px;
    margin: 100px auto;
    margin-top: -2%;
    margin-left: 17%;
}

.justificado {
    text-align: justify;
    margin-top: 8px;
    margin-left: 11%;
    margin-right: 11%;
    color: #6a6666;
    
}

.content-3 .justificado {
    text-align: justify;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 25%;
    color: #6a6666;
    
}

.justificado-2 {
    text-align: justify;
    margin-top: 35px;
    margin-left: 5%;
    color: #636262;
    font-size: 15px;
    font-weight: bold;
    
    
    
}

h1 {
    font-size: 20px;
    margin: 80px 0px 20px 350px;
    color: #514f4f;

}

/*PIE DE PAGINA*/
.content-6 {
    min-height: 80px ;
    margin-top: 11%;
    background: linear-gradient(
        90deg,
        rgb(22, 22, 22)0%,
        rgb(22, 22, 22)70%
        /*rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%*/    
    );
    background-color: #343a40; /* Color de fondo oscuro */
    color: white; /* Color de texto */
    text-align: center; /* Centrar el contenido */
    padding: 20px 0; /* Padding arriba y abajo */
    margin-top: 190px; /* Espacio antes del pie de página */
}

.content-6 ul {
    list-style-type: none; /* Remover los bullets de la lista */
    padding: 0; /* Remover padding */
    margin: 0 auto; /* Remover margen */
    display: flex; /* Centrar la lista horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.content-6 li {
    display: inline; /* Mostrar íconos en línea */
    margin: 0 10px; /* Espacio entre íconos */
}

.content-6 a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Remover el subrayado de los enlaces */
    display: inline-block; /* Permitir aplicar padding y border-radius */
    border-radius: 5px; /* Esquinas redondeadas */
}

.content-6 i {
    font-size: 1.5rem; /* Tamaño de los íconos */
    display: inline-block; /* Asegurar que el border-radius se aplique correctamente */
    padding: 10px; /* Espacio alrededor del ícono */
}

.content-6 p {
    margin-top: 20px; /* Espacio entre íconos y texto */
    margin-right: 5%;
}





.cont {
    max-width: 1400px;
    margin: 140px auto;
}

.pie {
    position: absolute;
    top: 1000px;
    left: 120px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-6 .navbar ul li{
    position: relative;
    float: left;
}

.content-6 .navbar ul li a{
    padding: 0px;
    padding-top: 25%;
    margin-left: 30px;
    
}
.content-6 .navbar ul li a img{
    max-width: 150px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: -145px; /* Ajusta el margen derecho según tus necesidades */
    padding-right: 0%;
    margin-left: 150px;
}

@media(max-width:991px) {

    .content {
        min-height: 70px;
        margin-right: -59px;
    }

    .menu {
        top: 0;
        padding: 20px;
        padding-left: 59%;
        
    }

    
    
    .menu label {
        display: initial;
    }

    img {
        max-width: 150px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
        height: auto; /* Mantiene la proporción original de la imagen */
        margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
        padding-right: 0%;
        margin-left: 150px;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        right: -16%;
        background: linear-gradient(
            90deg,
            rgba(113, 133, 247, 0.973)0%,
            rgba(113, 133, 247,0.973)70%
           /* rgba(203,18,133,1)0%,
            rgba(80,49,145,1)70%*/
        );
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .content-2 {
        margin-top: -10%;
        margin-left: -55%;
    }

    .content-3 {
        max-width: 1250px;
        margin: 100px auto;
        margin-top: -12%;
        margin-left: -68%;
    }

    .justificado {
        text-align: justify;
        margin-top: 8px;
        margin-left: 40%;
        margin-right: -10%;
        color: #6a6666;
        font-size: 14px;
    }

    .content-3 .justificado {
        text-align: justify;
        margin-top: 8px;
        margin-left: 52%;
        margin-right: 0%;
        color: #6a6666;
        
    }
    
    .justificado-2 {
        text-align: justify;
        margin-top: 35px;
        margin-left: 52%;
        color: #636262;
        font-size: 15px;
        font-weight: bold;
    }

    
/*PIE DE PAGINA*/
.content-6 {
    min-height: 65px ;
    margin-top: 8%;
    margin-right: -15%;
    background: linear-gradient(
        90deg,
        rgba(149, 149, 150, 0.271)0%,
        rgba(149, 149, 150, 0.271)70%
        /*rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%*/
    );
}


.cont {
    max-width: 1400px;
    margin: 140px auto;
}

.pie {
    position: absolute;
    top: 1330px;
    left: -155px;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-6 .navbar ul li{
    position: relative;
    float: left;
}

.content-6 .navbar ul li a{
    padding: 0px;
    padding-top: 25%;
    margin-left: 30px;
    
}
.content-6 .navbar ul li a img{
    max-width: 150px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: -145px; /* Ajusta el margen derecho según tus necesidades */
    padding-right: 0%;
    margin-left: 150px;
}

}