/* Estilos para el menú */
* {
    padding-top: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 140px auto;
}

.content {
    min-height: 65px;
    background: linear-gradient(
        90deg,
        rgba(48, 48, 48, 0.943)0%,
        rgb(48, 48, 48)0%
    );
}

.menu {
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.letras {
    color: #6f6f6f;
    font-size: 48px;
    text-align: center;
    margin-right: -940px;
    font-family: 'Pinyon Script', cursive;
    max-width: 5000px;
}

img {
    max-width: 120px;
    height: auto;
    margin-right: 10px;
    padding-right: 0%;
    margin-left: 940px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    margin-left: 47px;
    color: #f1f1f1;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    cursor: pointer;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Estilos para el formulario de inicio de sesión */
form {
    position: relative;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.944); /* Fondo semitransparente para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    margin-top: 40px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 40px;
    
    z-index: 2; /* Asegura que el formulario se muestre por encima de la capa oscurecedora */ 
}

h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #2E2E2E;
    margin-bottom: 25px;
}

label {
    font-size: 17px;
    color: #575757;
    margin-bottom: 10px;
}

input {
    padding: 17px 11px;
    border: 1px solid #00ADEF;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: #FAFAFC;
    outline: none;
    color: #00ADEF;
    font-size: 17px;
}

.btn-1 {
    background-color: #00ADEF;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #04B8FF;
}

.remember {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 11%;
}

.form-check {
    margin-left: 23%;
}

@media(max-width:991px) {
    .content {
        min-height: 70px;
        margin-right: -59px;
    }

    .menu {
        top: 0;
        padding: 20px;
        padding-left: 59%;
    }

    .menu label {
        display: initial;
    }

    img {
        max-width: 150px;
        height: auto;
        margin-right: 10px;
        padding-right: 0%;
        margin-left: 150px;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        right: -16%;
        background: linear-gradient(
            90deg,
            rgba(113, 133, 247, 0.973)0%,
            rgba(113, 133, 247,0.973)70%
        );
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    /* Estilos adicionales para ajustar el formulario en dispositivos móviles */
    form {
        width: 80%; /* Ajusta el ancho del formulario */
        margin: 0 auto; /* Centra el formulario */
        margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    }
}
